.bdReg {
    
  font-size: 13px;
  line-height: 1.8;
  color: #fff;
  /* background-image: url("../../gambar/body-bg.jpg"); */
  /* background-image: url("bg1.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  font-weight: 400;
  font-family: 'Calibri';
  margin: 0px;
}